<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Foam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1536,192}</string>
                <key>spriteSourceSize</key>
                <string>{1536,192}</string>
                <key>textureRect</key>
                <string>{{0,0},{1536,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>foam.png</string>
            <key>size</key>
            <string>{1536,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93d00b5e6602e5e363c8cf9d3b396a1b:e3ace45e0e1bde08e43109ce13f2474b:64bf7df1afa680e96fd99fd31d6ebf48$</string>
            <key>textureFileName</key>
            <string>foam.png</string>
        </dict>
    </dict>
</plist>
